#square {
    display: flex;
    background-color:black;
}

.square {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background: black;
    width: 100px;
    height: 100px;
    margin: 50px auto;
    
  }